* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*height: 100%;*/
}

body {
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.alert-info {
    margin: 7px 0;
    background-color: rgba(204, 255, 255, 1);
    border: solid 1px lightgray;
    padding: 15px;
    width: 20em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.alert-info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*.nav-links {*/
/*    flex-direction: column;*/
/*    width: max-content;*/
/*    text-align: center;*/
/*    margin-top: 25px;*/
/*    list-style: none;*/

/*}*/

ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}

li {
    border: none;
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    width: 20em;
    text-align: center;
}

img {
    width: 100%;
}


h1 {
    font-size: 40px;
    text-align: center;
}

/*.nav-links li {*/
/*    background-color: lightgrey;*/
/*    padding: 5px;*/
/*    margin: 10px;*/
/*    height: 33px;*/
/*    font-weight: bold;*/
/*}*/

/*.header-img {*/
/*    width: 95%;*/
/*    margin-top: 5px;*/
/*    border: 2px solid black;*/
/*}*/

section {
    margin-top: 15px;
}

.sub-section{
    font-style: italic;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

footer {
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 25px 0 15px 0;
}

@media screen and (min-width: 768px) {

    body {
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 10px 20px;
    }

    .hidden-on-desktop {
        display: none;
    }

    nav {
        width: unset;
        margin: unset;
    }

    ul {
        flex-direction: row;
        gap: 25px;
    }

    li {
        background-color: unset;
    }

    .header-img {
        width: 100%;
    }

    .main {
        flex-basis: 60%;
    }

    .sub-section {
        flex-basis: 35%;
    }


    /*align-items: center;*/
}


/*.main{*/
/*    position: absolute;*/
/*    top: 600px;*/
/*    margin: 40%;*/
/*    left: 50px;*/
/*}*/

/*.sub-section{*/
/*    position: absolute;*/
/*}*/

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
        margin: 10px;
    }

    a {
        color: blue;
    }

    .alert-info {
        visibility: hidden;
    }

    .header-img {
        margin: auto;
    }

    img {
        width: 890px;
        height: 385px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
    }

    .nav-links {
        display: flex;
    }

}

/*
body {
    font-family: sans-serif;
    display: flex;
    flex-flow: column no wrap;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}
.alert-info {
    width: 100%;
    border: lightgrey 2px solid:
    text-align: center;
    background-color: #ccfff;
}

.alert-info a {
    text-decoration: none;

}
h1 {
    margin: 15px 0;
}
img {
    width: 100%;
}
nav {
    width: 100%;
    margin: 10px 0;
}
ul {
    list-style: none;
}
li {
    margin: 8px 0;
    padding: 12px;
    background-color: lightgrey;
    text-align: center;
}
*/


>>> >>> > b3001ff314f44d41d9b67d1fdabe20c599ec8566



